<html>
	<head>
		<title>Diagnose</title>
		<meta name="description" content="This app is intended to predict a disease based off inputted symptoms.">
		<meta name="robots" content="index, follow">
		<link rel="canonical" href="https://diagnosenow.herokuapp.com/"/>

		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	</head>
	<body>
		this is home
		<script src="../static/home.js"></script>
	</body>
</html>