<html>
	<head>
		<title>Diagnose</title>

		<meta name="description" content="This app is intended to predict a disease based off inputted symptoms.">
		<meta name="robots" content="index, follow">

		<link rel="canonical" href="https://diagnosenow.herokuapp.com/"/>
		
		<link rel="icon" type="image/png" href="../static/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="../static/favicon-16x16.png" sizes="16x16" />

		<script src="../static/jquery.min.js"></script>		
	</head>
	<body>
		this is home
		<button id="predictBtn">Predict!</button>

		<div id="output"></div>

		<div id="checkList">

		</div>

		<script src="../static/home.js"></script>
	</body>
</html>