<html>
	<head>
		<title>Diagnose</title>
		<meta name="description" content="This app is intended to predict a disease based off inputted symptoms.">
		<meta name="robots" content="index, follow">
		<link rel="canonical" href="https://diagnosenow.herokuapp.com/"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		this is home
		<button id="predictBtn">Predict!</button>

		<div id="output"></div>

		<div id="checkList">

		</div>

		<script src="../static/home.js"></script>
	</body>
</html>